1 - Lecture/Lecture Alexander/Lecture 3/RFID_Export.json
[{"id":"4efc71ca.dca48","type":"tab","label":"Exercise: RFID Smart Lock","disabled":false,"info":""},{"id":"b2303d71.956e7","type":"function","z":"4efc71ca.dca48","name":"Set Body","func":"var code = msg.payload;\n\nmsg.payload = { \"value1\" : code };\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["eeb211d2.7d03c"]]},{"id":"eeb211d2.7d03c","type":"http request","z":"4efc71ca.dca48","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/rfid_contact/with/key/d989I5i3aci-xSNNIddxw3","tls":"","proxy":"","authType":"basic","x":670,"y":180,"wires":[[]]},{"id":"3524c434.54852c","type":"mqtt in","z":"4efc71ca.dca48","name":"","topic":"rfid_2factor_code","qos":"0","datatype":"auto","broker":"77293117.a8a4b","x":160,"y":180,"wires":[["b2303d71.956e7"]]},{"id":"8bd2e851.26cdd8","type":"mqtt in","z":"4efc71ca.dca48","name":"","topic":"node1/rfid/uid","qos":"2","datatype":"auto","broker":"77293117.a8a4b","x":150,"y":80,"wires":[["e4a19c92.f21e4"]]},{"id":"111ab910.575d27","type":"mqtt out","z":"4efc71ca.dca48","name":"","topic":"rfid_recognized","qos":"","retain":"","broker":"77293117.a8a4b","x":660,"y":80,"wires":[]},{"id":"415a0a88.c17f74","type":"debug","z":"4efc71ca.dca48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":460,"wires":[]},{"id":"11bb7c01.c4e1b4","type":"mqtt in","z":"4efc71ca.dca48","name":"","topic":"#","qos":"2","datatype":"auto","broker":"77293117.a8a4b","x":130,"y":460,"wires":[["415a0a88.c17f74"]]},{"id":"712cc395.97804c","type":"ui_numeric","z":"4efc71ca.dca48","name":"","label":"Token","tooltip":"","group":"26c96747.7fadf8","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":130,"y":280,"wires":[["f4646e5a.4c3e5"]]},{"id":"e4a19c92.f21e4","type":"switch","z":"4efc71ca.dca48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":80,"wires":[["111ab910.575d27"]]},{"id":"f4646e5a.4c3e5","type":"mqtt out","z":"4efc71ca.dca48","name":"","topic":"rfid_code_check","qos":"","retain":"","broker":"77293117.a8a4b","x":660,"y":280,"wires":[]},{"id":"ea1956e6.39b038","type":"mqtt in","z":"4efc71ca.dca48","name":"","topic":"rfid_code_check_result","qos":"2","datatype":"auto","broker":"77293117.a8a4b","x":180,"y":380,"wires":[["f708eacc.3d6128"]]},{"id":"f708eacc.3d6128","type":"switch","z":"4efc71ca.dca48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":380,"wires":[["4c4b0c52.1b6ec4"]]},{"id":"4c4b0c52.1b6ec4","type":"mqtt out","z":"4efc71ca.dca48","name":"","topic":"","qos":"","retain":"","broker":"77293117.a8a4b","x":630,"y":380,"wires":[]},{"id":"77293117.a8a4b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26c96747.7fadf8","type":"ui_group","z":"","name":"Example","tab":"1561a345.e0333d","order":1,"disp":true,"width":"6","collapse":false},{"id":"1561a345.e0333d","type":"ui_tab","z":"","name":"Example","icon":"dashboard","order":2}]