1 - Lecture/Lecture Iris/Lecture 2/RedNode Flows/lock-flow.json
[{"id":"6a3c7ba6.df6664","type":"tab","label":"Lock","disabled":false,"info":""},{"id":"1d9c3b3f.57df9d","type":"mqtt in","z":"6a3c7ba6.df6664","name":"","topic":"node2/button","qos":"2","datatype":"auto","broker":"77293117.a8a4b","x":140,"y":80,"wires":[["f97b1aa4.74933"]]},{"id":"f97b1aa4.74933","type":"rbe","z":"6a3c7ba6.df6664","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":80,"wires":[["5f80edc8.882ab4"]]},{"id":"5f80edc8.882ab4","type":"function","z":"6a3c7ba6.df6664","name":"toggle","func":"if(msg.payload === \"pressed\") {\n    if(context.toggle === \"on\") {\n        context.toggle = \"off\";\n    } else {\n        context.toggle = \"on\";\n    }\n}\nmsg.payload = context.toggle;\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["521fd06a.9d488"]]},{"id":"521fd06a.9d488","type":"ui_switch","z":"6a3c7ba6.df6664","name":"","label":"switch","tooltip":"","group":"26c96747.7fadf8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":610,"y":80,"wires":[["9668f3fa.cda22"]]},{"id":"9668f3fa.cda22","type":"mqtt out","z":"6a3c7ba6.df6664","name":"","topic":"node2/lock/set","qos":"","retain":"","broker":"77293117.a8a4b","x":780,"y":80,"wires":[]},{"id":"123bf54.9a3240b","type":"mqtt in","z":"6a3c7ba6.df6664","name":"","topic":"node1/button","qos":"2","datatype":"auto","broker":"77293117.a8a4b","x":130,"y":160,"wires":[["f97b1aa4.74933"]]},{"id":"77293117.a8a4b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26c96747.7fadf8","type":"ui_group","z":"","name":"Example","tab":"1561a345.e0333d","order":1,"disp":true,"width":"6","collapse":false},{"id":"1561a345.e0333d","type":"ui_tab","z":"","name":"Example","icon":"dashboard","order":2}]