1 - Lecture/Lecture Iris/Lecture 2/RedNode Flows/simple-led-flow.json
[{"id":"85b60300.bde1a","type":"tab","label":"example","disabled":false,"info":""},{"id":"96a4660.24e6598","type":"mqtt out","z":"85b60300.bde1a","name":"","topic":"node2/blue/set","qos":"","retain":"","broker":"77293117.a8a4b","x":720,"y":80,"wires":[]},{"id":"222cbae6.68aae6","type":"ui_switch","z":"85b60300.bde1a","name":"","label":"node 1 switch","tooltip":"","group":"26c96747.7fadf8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":530,"y":80,"wires":[["96a4660.24e6598"]]},{"id":"527f0105.0b1da","type":"mqtt in","z":"85b60300.bde1a","name":"","topic":"node1/b1","qos":"2","datatype":"auto","broker":"77293117.a8a4b","x":100,"y":80,"wires":[["c5b12d74.b450b"]]},{"id":"e6f8a88e.e97de8","type":"function","z":"85b60300.bde1a","name":"toggle","func":"if(msg.payload === \"pressed\") {\n    if(context.toggle === \"on\") {\n        context.toggle = \"off\";\n    } else {\n        context.toggle = \"on\";\n    }\n}\nmsg.payload = context.toggle;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["222cbae6.68aae6"]]},{"id":"c5b12d74.b450b","type":"rbe","z":"85b60300.bde1a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":250,"y":80,"wires":[["e6f8a88e.e97de8"]]},{"id":"77293117.a8a4b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26c96747.7fadf8","type":"ui_group","z":"","name":"Example","tab":"1561a345.e0333d","order":1,"disp":true,"width":"6","collapse":false},{"id":"1561a345.e0333d","type":"ui_tab","z":"","name":"Example","icon":"dashboard","order":2}]