2 - Project1/challenge2/led_strip.json
[{"id":"85b60300.bde1a","type":"tab","label":"example","disabled":false,"info":""},{"id":"18526985.5d2e76","type":"ui_colour_picker","z":"85b60300.bde1a","name":"","label":"","group":"26c96747.7fadf8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"true","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":430,"y":680,"wires":[["eddd82d4.6d81"]]},{"id":"4350c26b.41c76c","type":"mqtt out","z":"85b60300.bde1a","name":"","topic":"node1/strip/rgb/set","qos":"","retain":"","broker":"77293117.a8a4b","x":720,"y":580,"wires":[]},{"id":"a6a29883.be881","type":"ui_switch","z":"85b60300.bde1a","name":"","label":"Strip","tooltip":"","group":"26c96747.7fadf8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"red","onvalueType":"str","onicon":"","oncolor":"","offvalue":"black","offvalueType":"str","officon":"","offcolor":"","x":470,"y":520,"wires":[["4350c26b.41c76c"]]},{"id":"eddd82d4.6d81","type":"change","z":"85b60300.bde1a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"^(.*)$","fromt":"re","to":"front $1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":700,"wires":[["4350c26b.41c76c"]]},{"id":"26c96747.7fadf8","type":"ui_group","z":"","name":"Example","tab":"1561a345.e0333d","order":1,"disp":true,"width":"6","collapse":false},{"id":"77293117.a8a4b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1561a345.e0333d","type":"ui_tab","z":"","name":"Example","icon":"dashboard","order":2}]